.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}
.navbar-nav li a:hover {
  color: #ffed00 !important;
}

.footer-padding {
  padding-bottom: 60px;
}

.footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #808080;
}

.footer p {
  margin-top: 25px;
}

.btn-primary {
  color: #000;
  background-color: #ffed00;
  border-color: #ffed00;
}

.btn-primary:hover {
  color: #000;
  background-color: #ddce00;
  border-color: #ddce00;
}
